.split-cell {
    display: flex;
    flex-direction: column;
    background-color: rgb(206, 245, 245);
    height: 100%;
    width: 90%;
}
.box {
    border: 1px solid rgb(161, 178, 235);
    padding: 20px;
    margin: 5px;
    background-color=red;
    text-alignn: center;
}

.small-box {
  width: 50px;
  height: 25px;
  border: 1px solid rgb(206, 202, 219);
  background-color: rgb(137, 183, 223);
  text-align: center;
  line-height: 30px;
}
